//! **************************************************************************
// Written by: Map K.31 on Wed Apr 20 16:01:35 2022
//! **************************************************************************

SCHEMATIC START;
COMP "A<0>" LOCATE = SITE "F17" LEVEL 1;
COMP "A<1>" LOCATE = SITE "H17" LEVEL 1;
COMP "A<2>" LOCATE = SITE "C18" LEVEL 1;
COMP "A<3>" LOCATE = SITE "F15" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "H14" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "J17" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "G14" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "D16" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "D17" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "F18" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "L18" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "C17" LEVEL 1;
COMP "COUNT" LOCATE = SITE "H13" LEVEL 1;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
COMP "RESET" LOCATE = SITE "B18" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

